
  @import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Heebo:wght@300;400;600;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Alkatra', cursive;
   font-family: 'Heebo', sans-serif;

}


nav {
 background-color: #9EB7C1;
 height: 100px;
 color: #FAF2F1;
 font-size: x-large;
}

.nav_conteiner{
    display: flex;
    height: 100%;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

.nav_logo{
    font-size: 1.5rem;
    font-weight: 900;
    font-size: 100%;

}

.nav_conteiner .logo_gato {
    width: 20px;
    margin-left: -30%;
    
}

.iconologo{
    width: 10%;
}

.nav_menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3rem;
}

.nav_item {
    color: #FAF2F1;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    
}

.nav_item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav_item::after{
    content: "";
    display: block;
    background:  #FAF2F1;
    width: 90%;
    margin-top: 3px;
    height: 5%;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav_label { /*aquie es donde quite el logo de lo del menu*/
    display: none;
}

#menu {  /*esto es el inputo que desactive para el menu principal */
    display: none;
}

.baner_principal {
    width: 100%;
}

.conteinerbanerhome2{
    display: none;
}

.conteinerbanerhome{
    background: url(/Estilos/Img/bannerlibros.jpg);
     background-repeat: no-repeat;
    background-size: cover;


}

.cardhome {
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    overflow: hidden;
    width: 20rem;
    backdrop-filter: blur(1rem);
    background-color: rgb(191, 171, 168);
    border: .1rem solid rgba(225, 225, 225, 0.18);
    color: black;
    text-align: center;

}

.card h2 {
    letter-spacing: 1rem;
    margin: 1rem 0;
    

}

.top-row {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}


.top-row i{
    font-size: 2rem;

}

.contenthome {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.contenthome p {
    font-size: 1rem;

}

.containervm .cardhome:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}



/*este apartado es de nosotros*/
/*.baner_secundario {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.texto_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
  
}



.bordertex1 {
    border: solid;
    font-size: 50px;
    background-color: #D7C7C5;
}

.bordertex2 {
    border: solid;
    font-size: 50px;
    background-color: #E8DCDB;
}
.bordertex3 {
    border: solid;
    font-size: 50px;
    background-color: #FAF2F1;
}**/

.boddybackraund2 {
    display: none;
}

.conteiner_banner {
    display: none;
}

.texto_container {
    display: none;

}

:root {
    --white-text: #fff;
}

.bakground-top-row {
    background-color: rgba(52, 3, 45, 0.3);
    backdrop-filter: blur(4.rem);
}

.boddybackraund {
    widows: 100%;
    height: 1000px;
    background: url(/Estilos/Img/baner\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
   
}

.containervm {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    
    
}

.card {
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    overflow: hidden;
    width: 15rem;
    backdrop-filter: blur(1rem);
    background-color: rgba(225, 225, 225, 0.060);
    border: .1rem solid rgba(225, 225, 225, 0.18);
    color: var(--white-text);

}

.card h2 {
    letter-spacing: 1rem;
    margin: 1rem 0;

}

.top-row {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}


.top-row i{
    font-size: 2rem;

}

.content {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.content p {
    font-size: .9rem;

}

.button {
    border-radius: 3rem;
    color: var(--white-text);
    font-size: .8rem;
    padding: .5rem .3rem;
    letter-spacing: .1rem; /*para ponere espacio de letras*/
    align-self: flex-end; /*este es para poner a la aderecha el boton*/
    border: 1rem solid, rgba(225, 225, 225, 0.18);
    background-color: #747474;
}

containervm .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

/*este es el footer*/
footer{
    height: 100px;
    background-color:  #9EB7C1;
    width: 100%;
  
}

.footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    
}

.bordertexfooter {
    margin-left: 25px;
    margin-top: 15px;

}
.bordertexfooter2 {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap; /** estamos trabajando con elementos si van estar en fila y los estamos en volviendo
                                en una sola linea */
    
    
}

.bordertexfooter2 a{
    
    border-radius: 50%;
    color: white;
    margin: 5px;
}



texto_container section:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
} */



    
.bordertexfooter2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BFABA8;
    border-radius: 80%;
    color: #DCF0F7;
    margin-left: 20%;
    margin-left: 20%;
}

/*la parte de autores*/
.main_autores {
    background-color: #FAF2F1;

}

.baner_autores {
    display: flex;
    width: 600px;
    height: 430px;
    margin-left: 800px;
    background-color: #FAF2F1;
}

.baner_autores img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: .5s ease;
    background-color: #FAF2F1;
    
}

.nombreautores {
    text-align: center;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#titulobote {
    font-size: 50px;
    font-weight: bolder;
    font-style: oblique;
    
}

/*input[type='radio'] {
    width: 20px;
    height: 20px;
    border: 2px solid #747474;
    border-radius: 50%;
    outline: none;
    opacity: 0.6;
    transition: 0.3s;
  }
  
  input[type='radio']:hover:before {
    box-shadow: 0px 0px 0px 12px rgba(80, 80, 200, 0.2);
    border-radius: 50%;
    opacity: 1;
  }
  
  input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;    
    border-radius: 50%;
  }
      
  input[type='radio']:checked:before {
    background: #7B96A2;
  }*/

#catinbox {
    width: 50%;
}

/*apartado de los 5 libros del mes**/
.title {
    text-align: center;
    font-size: 40px;
    color: #7B96A2;
    margin-top: 100px;
    font-weight: 100;

}

.container {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
    
}

.container .cardlibro {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all .25s;
    background-color: #FAF2F1;
}

.container .cardlibro img {
    width: 330px;
    height: 220px;

}

.container  .cardlibro h4 {
    font-weight: 600;

}
.container .cardlibro p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;

}

.container .cardlibro a {
    font-weight: 500;
    text-decoration: none;
    color:#747474;


}

.container .cardlibro:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.centrado:hover {
    background-color: white;
    color: black;
}

.baner_autores img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/*apartado de membresia*/
/*.backmembresia {
    background-image: url(../Img/librosmembresia.jpg);
    background-size: cover;
}*/

.conteiner_sub {
    widows: 100%;
    height: 700px;
    background: url(/Estilos/Img/librosmembresia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.conten_sub {
    width: 100%;
    height: 100%;
    background: rgba(0, 22, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conten_sub h2 {
    color: antiquewhite;
    font-size: 30px;
    margin-bottom: 10px;
}

.conten_sub p {
    color: antiquewhite;
    font-size: 17px;
    margin-bottom: 25px;
    text-align: center;
}

.conten_sub form {
    width: 100%;
    max-width: 440px;
    display: flex;
}

.conten_sub form .campo {
    width: 100%;
    padding: 15px 15px;
    font-size: 16px;
    border: none;
    border-radius: 3px 0px 0px 3px;
    outline: 0;

}

.conten_sub form .btn-sub {

    padding: 15px 15px;
    border: none;
    font-size: 16px;
    border-radius:  0px 3px 3px 0px;
    background-color: #FAF2F1;
    color: #7B96A2;
    cursor: pointer;
    outline: 0px;

}

.conten_sub form .btn-sub:hover{
    background: #BFABA8;
}

@media (max-width: 700px) {
    .nav_label{
        display: block; /*esta seccion es para que aparezca la imagen de menu cuando sea de pantalla pequeña*/
        cursor: pointer;

    }

    .nav_menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: #BFABA8;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;

    }

 
    /*a este se le llama selector de hermano abyasente ya que selecciona al hermano que esta al lado del elemento seleccionado en este caso seria al abyacente input que seria el nav menu y asi logramos que cuando esta chequeado*/

    .nav_input:checked + .nav_menu { /*esto es lo que ayuda a saber que hace eso hace lo demas*/
        clip-path: circle(100% at center);
              
    }
    

    .nav_conteiner .logo_gato {
        display: none;
    }

    .centrado{
        display: none;
        
    }
    
    .texto_container{
        /** asignamos una sola columna */
        grid-template-columns: 1fr;
    }

    .bordertexfooter {
        display: none;
    }

    .footer_container{
        grid-template-columns: 1fr;

    }

    .bordertexfooter2 {
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row nowrap; /** estamos trabajando con elementos si van estar en fila y los estamos en volviendo
                                    en una sola linea */
        
        
    }

    .bordertexfooter2 a{
        display: flex;
        flex-direction: row;
      
    }

    .baner_autores {
        margin-left: -20px;
        width: 103%;
    }

  .container {
        display: inline-block;
        text-align: center;
        margin-left: 20%;
  }

  .baner_secundario {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.texto_container {
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
  
}



.bordertex1 {
    border: solid;
    font-size: 50px;
    background-color: #D7C7C5;
}

.bordertex2 {
    border: solid;
    font-size: 50px;
    background-color: #E8DCDB;
}
.bordertex3 {
    border: solid;
    font-size: 50px;
    background-color: #FAF2F1;
}

.boddybackraund {
    display: none;
}

.cardhome {
    display: none;
}

.textohme {
    text-align: center;
    text-decoration:underline;
    font-size: 400rm;
}

   
}

@media (max-width: 2000px) {
    .nav_label{
        display: block; /*esta seccion es para que aparezca la imagen de menu cuando sea de pantalla pequeña*/
        cursor: pointer;

    }

    .nav_menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: #BFABA8;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;

    }

 
    /*a este se le llama selector de hermano abyasente ya que selecciona al hermano que esta al lado del elemento seleccionado en este caso seria al abyacente input que seria el nav menu y asi logramos que cuando esta chequeado*/

    .nav_input:checked + .nav_menu { /*esto es lo que ayuda a saber que hace eso hace lo demas*/
        clip-path: circle(100% at center);
              
    }
    

    .nav_conteiner .logo_gato {
        display: none;
    }

    .centrado{
        display: none;
        
    }
    
    .texto_container{
        /** asignamos una sola columna */
        grid-template-columns: 1fr;
    }

    .bordertexfooter {
        display: none;
    }

    .footer_container{
        grid-template-columns: 1fr;

    }

    .bordertexfooter2 {
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row nowrap; /** estamos trabajando con elementos si van estar en fila y los estamos en volviendo
                                    en una sola linea */
        
        
    }

    .bordertexfooter2 a{
        display: flex;
        flex-direction: row;
      
    }

    .baner_autores {
        margin-left: -20px;
        width: 103%;
    }

  .container {
        display: inline-block;
        text-align: center;
        margin-left: 1%;
  }

  .baner_secundario {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.texto_container {
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
  
}



.bordertex1 {
    border: solid;
    font-size: 50px;
    background-color: #D7C7C5;
}

.bordertex2 {
    border: solid;
    font-size: 50px;
    background-color: #E8DCDB;
}
.bordertex3 {
    border: solid;
    font-size: 50px;
    background-color: #FAF2F1;
}

.boddybackraund {
    display: none;
}

.cardhome {
    display: none;
}

.textohme {
    text-align: center;
    text-decoration:underline;
    font-size: 400rm;
}

   
}




@media (max-width: 320px) {
    .nav_label{
        display: block; /*esta seccion es para que aparezca la imagen de menu cuando sea de pantalla pequeña*/
        cursor: pointer;

    }

    .nav_menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: #BFABA8;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;

    }

 
    /*a este se le llama selector de hermano abyasente ya que selecciona al hermano que esta al lado del elemento seleccionado en este caso seria al abyacente input que seria el nav menu y asi logramos que cuando esta chequeado*/

    .nav_input:checked + .nav_menu { /*esto es lo que ayuda a saber que hace eso hace lo demas*/
        clip-path: circle(100% at center);
              
    }
    

    .nav_conteiner .logo_gato {
        display: none;
    }

    .centrado{
        display: none;
        
    }
    
    .texto_container{
        /** asignamos una sola columna */
        grid-template-columns: 1fr;
    }

    .bordertexfooter {
        display: none;
    }

    .footer_container{
        grid-template-columns: 1fr;

    }

    .bordertexfooter2 {
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row nowrap; /** estamos trabajando con elementos si van estar en fila y los estamos en volviendo
                                    en una sola linea */
        
        
    }

    .bordertexfooter2 a{
        display: flex;
        flex-direction: row;
      
    }

    .baner_autores {
        margin-left: -20px;
        width: 103%;
    }

  .container {
    display: inline-block;
    text-align: center;

  }

  .baner_secundario {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.texto_container {
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
  
}



.bordertex1 {
    border: solid;
    font-size: 50px;
    background-color: #D7C7C5;
}

.bordertex2 {
    border: solid;
    font-size: 50px;
    background-color: #E8DCDB;
}
.bordertex3 {
    border: solid;
    font-size: 50px;
    background-color: #FAF2F1;
}

.boddybackraund {
    display: none;
}

.cardhome {
    display: none;
}

.textohme {
    text-align: center;
    text-decoration:underline;
    font-size: 400rm;
}

   
}



